name: test

on: [push, pull_request]

jobs:
  test-pwsh:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install powershell-yaml
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Install-Module powershell-yaml -Force
    - name: Install Pester
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Install-Module Pester -Force -SkipPublisherCheck -RequiredVersion 5.0.2
    - name: Test
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Import-Module Pester
        Invoke-Pester -EnableExit

  test-pwsh-new:
    runs-on: windows-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6
    - name: Install powershell-yaml
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Install-Module powershell-yaml -Force
    - name: Install Pester
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Install-Module Pester -Force -SkipPublisherCheck
    - name: Test
      shell: pwsh
      run: |
        $ErrorActionPreference = 'Stop'
        Import-Module Pester
        Invoke-Pester -EnableExit
